.main-sidebar-container {
  background: #161a25;
  border-top-right-radius: 54px;
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  max-height: 100%;
  width: 300px;
  scrollbar-gutter: auto;
  padding: 50px 50px;
}
.sidebar--template-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar--template-icon {
  height: 24px;
}
.sidebar--template-text {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.sidebar--line-break {
  width: 100%;
  border: 1px solid #303544;
  margin-bottom: 40px;
}
.sidebar--dropdown {
  width: 100%;
  margin: 0 auto;
  height: 31px;
  background-color: #a7a6b4;
  border: none;
  margin-bottom: 50px;
}
.main-sidebar-container::-webkit-scrollbar {
  background: transparent;
  border: 1px solid black;
  height: 80px;
  width: 7px;
}
.main-sidebar-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a7a6b4;
}
.sidebar--display-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.poster-container {
  background-color: white;
  height: 150px;
  width: 250px;
  margin-bottom: 50px;
}
.poster-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.poster-selected {
  background-color: #f0b27d4d;
}
