p{
    margin:0px;
  }
  .main-container{
    display:flex;
    width: 100%;
    height:100%;      
  }
  .sign-up-container{
    z-index: 1;
    padding-left: 3%;
    padding-right: 10%; 
    padding-bottom: 1%;
    padding-top: 1%;
    display:flex;
    flex-direction:column;
    flex:1;
    background-image:url('../assets/images/background_img.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    align-items:center;
    min-height:93vh;
    justify-content: center;
    }
  .other-container{
    position:relative;
    width:500px;
    flex-shrink: none;
  }
  .blue-fill{
    z-index:0;
    height: 220px;
    width: 450px;
    position:fixed;
    right:0px;
  }
   .blue-outline{
    z-index:0;
    height: 280px;
    width:450px;
    position:absolute;
    top:25px;
    right:0px;
   }
   .orange-fill{
    z-index:0;
    height: 255px;
    width:200px;
    position:absolute;
    bottom:0px;
    right:0px;
   }
   .orange-outline{
    z-index:0;
    height: 250px;
    width: 185px;
    position:absolute;
    bottom:55px;
    right:0px;   
   }
   .purple-fill{
    z-index:2;
    height: 190px;
    width:375px;
    position:absolute;
    bottom:0px;
    right:0px;
    right:300px;
   }
   .purple-outline{
    z-index:0;
    height: 240px;
    width: 400px;
    position:absolute;
    bottom:0px;
    right:260px;
   } 
  .header{  
    font-family: Lalezar;
    font-size: 40px;
    font-weight: 400;
    color: white;
  }
  .top-text{
    color:rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-wrap:nowrap;
   
  }
  .name-container{
    width:70%;
    margin-bottom:25px;
  }
  .name-input{
    width:100%;
    background:none;
    border:solid 1px gray;
    padding:10px 10px;
    margin-top:10px;
    border-radius:12px;
    color:white;
   
  }
  .name-input::placeholder{
    color:rgba(193, 186, 186, 1);
    ;
  }
  .info-input-container{
    flex:1;

  }
  .info-input-image{
    display: none;

  }

  .signature-label{
    font-family: Inter;
    display: flex;
    align-items: center;
    gap:10px;
    color:rgba(193, 186, 186, 1);
    width:100%;
    background:none;
    border:solid 1px gray;
    padding:6px 10px;
    margin-top:10px;
    border-radius:12px;
  }
  .signature-label-green{
    font-family: Inter;
    display: flex;
    align-items: center;
    gap:10px;
    color:rgba(193, 186, 186, 1);
    width:100%;
    background:none;
    border:solid 1px green;
    padding:6px 10px;
    margin-top:10px;
    border-radius:12px;
  }
  .signature-image-icon{
    height: 25px;
  }
  .signature-image-not-display{
    display: none;
  }
  .info-input{
    width:100%;
    background:none;
    border:solid 1px gray;
    padding:10px 10px;
    margin-top:10px;
    border-radius:12px;
    color:white;
  }
  .info-input-green{
    width:100%;
    background:none;
    border:solid 1px green;
    padding:10px 10px;
    margin-top:10px;
    border-radius:12px;
    color:white;
  }
  .info-input-green:focus{
    outline: none;     
    box-shadow: 0 0 0 0.5px green; 
  }
  .bar{
    z-index:3;
    margin-top:60px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap:120px
  }
  .upload-container{
    display: flex;
    gap:20px;
  }
  .label-text-2{
    display: none;
  }
  .upload-icon{
    height:35px;
  }
  .upload{
    height: 100%;
  }
  .face-image-label{
    font-family: Inter;
    display: flex;
    align-items: center;
    gap:10px;
    color:rgba(193, 186, 186, 1);
    width:140%;
    background:none;
    border:solid 1px gray;
    padding:7px 10px;
    border-radius:12px; 
  }
  .face-image-label-green{
    font-family: Inter;
    display: flex;
    align-items: center;
    gap:10px;
    color:rgba(193, 186, 186, 1);
    width:140%;
    background:none;
    border:solid 1px green;
    padding:7px 10px;
    border-radius:12px; 
  }
  .info-input-2{
    padding:6% 5% 6% 5%;
    width:80%;
    background:none;
    border:solid 1px gray;
    border-radius:3px;
    color: white;
  }
 .get-started-button{
    z-index: 3;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:25px;
    padding-right:9px;
    border-radius:8px;
    border:none;
    margin-left: 5px;;
    font-family: Inter;
    font-size:18px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 1);
 }

 .arrow-image{
  z-index: 3;
  height:50%;
 }
 .button-inside-div{
  z-index: 3;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:25px;
  text-wrap: nowrap;
 }
 .arrow{
  z-index: 3;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color:rgba(240, 178, 125, 1);
  height:30px;
  border-radius:20px;
  padding-left:9px;
  padding-right:9px;
 }
 .same-input-grid{  
  display:grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:70px;
  grid-row-gap: 20px;
 }

.mandatory-feild-true{
  color:red;
}
.mandatory-feild-false{
  display: none;
}
 @media((min-width:1225px) and (max-width:1350px)){
  .signature-label{
    font-size: 12px;
  }
  .signature-label-green{
    font-size: 12px;
  }
 }

 @media((min-width:1000px) and (max-width:1225px)){
    .label-text{
      display: none;
    }
    .signature-label{
      font-size: 16px;
    }
    .signature-label-green{
      font-size: 16px;
    }
    .label-text-2{
      font-size: 18px;
      display: inline;
    }
  }

 @media((min-width:0px) and (max-width:1200px)){
  .purple-fill{
    z-index:0;
    height: 190px;
    width:375px;
    position:absolute;
    bottom:0px;
    right:0px;
    right:300px;
   }

 }
 @media((min-width:0px) and (max-width:1000px)){
  .other-container{
    display: none;
  }}
  @media((min-width:640px)and (max-width: 765px))
  {
    .signature-label{
      font-size: 12px;
    }
    .signature-label-green{
      font-size: 12px;
    }
  }
  @media((min-width:0px)and (max-width: 640px))
  {
    .label-text{
      display: none;
    }
    .signature-label{
      font-size: 16px;
    }
    .signature-label-green{
      font-size: 16px;
    }
    .label-text-2{
      display: inline;
    }
  }

