body {
  background-color: #fefefe;
}
.poster-display--main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* Over flow  hidden bug */
.poster-display--main-body-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.main-poster-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fefefe;
}
.poster--download-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.poster--size {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #7a7a7a;
  background-color: #eaeaea;
  padding: 5px 10px;
  border-radius: 10px;
}
.black-color {
  color: #000000;
}
.main-button-container {
  display: flex;
  gap: 10px;
}
.download-button {
  background-color: #fec89a;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: Inter;
  font-weight: 600;
  font-family: Inter;
  letter-spacing: 0.04em;
  text-align: left;
}
.poster--display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  padding-left: 20px;
  padding-right: 20px;
}
.poster {
  width: 300px;
  height: 300px;
  padding: 0;
  container-type: inline-size;
  container-name: changeRes;
}
.poster--size-select-container {
  background: linear-gradient(0deg, #404040, #404040),
    linear-gradient(0deg, #4a4a4a, #4a4a4a);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size-select-sub-container {
  display: flex;
  gap: 60px;
  height: 100px;
}
.specific-size-select-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #d9d9d9;
}
.specific-size-select-container-selected {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #fec89a4d;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #d9d9d9;
}
.instagram-select {
  background-color: #dfdfdf;
  width: 7vw;
  height: 65px;
}
.facebook-select {
  background-color: #dfdfdf;
  width: 7vw;
  height: 65px;
}
.linkedIn-select {
  background-color: #dfdfdf;
  width: 8vw;
  height: 90px;
}
.twitter-select {
  background-color: #dfdfdf;
  width: 12vw;
  height: 50px;
}
