button {
  cursor: pointer;
  margin: 0;
}
p {
  margin: 0;
}
.header {
  max-width: 100%;
  background-color: #161a25;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 70px;
  padding-left: 120px;
  justify-content: space-between;
  overflow-x: hidden;
}
.header--icon-container {
  display: flex;
  height: 100%;
}
.header--logo-image {
  height: 30px;
}

.log-out-button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}
.log-out-button:hover {
  color: grey;
}
.log-out-button:active {
  scale: 0.9;
}
.header--dropdown {
  position: absolute;
  height: 80vh;
  background-color: rgba(22, 26, 37, 0.7);
  z-index: 2;
  right: 0;
  top: 50px;
  width: 21%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  color: white;
}
.display-none {
  display: none;
}
.header--dropdown-profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header--dropdown-profile-image {
  height: 50px;
}
.header--dropdown-profile-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  background-color: none;
  border: none;
  text-align: left;
}
.header--dropdown-linebreak {
  border: 1px solid #555555;
  width: 90%;
  margin-top: 20px;
}
.header--dropdown-menu-container {
  margin-top: 30px;
}
.header--dropdown-menu-text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 0em;
  background: transparent;
  border: none;
  text-align: left;
  color: white;
}
.header--dropdown-menu-text:active {
  scale: 0.9;
}
.header--dropdown-menu-text:hover {
  color: grey;
}
.header--dropdown-menu-linebreak {
  border: 1px solid #555555;
  width: 90%;
  margin-top: 30px;
}
.header--link {
  text-decoration: none;
}
