p{
    margin: 0px;
  }
  body{
    position: relative;

  }
  .main-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color:rgba(234, 234, 234, 1);
  }
  .left-container{
    display:flex;
    flex:1;
    z-index:1;
    justify-content:right;
    align-items: center;
   
  }
  .blue-fill{
    position:absolute;
    width:400px;
    height:220px;
    top:0px;
    left:0px;
  }
  .blue-outline{
    position: absolute;
    width:450px;
    height:220px;
    z-index: 0;
    top:0px;
    left:120px;
  }
  .purple-fill{
    position:absolute;
    z-index: 0;
    bottom:0px;
    height:160px;
    width:240px;
    left:0px;
  }
  .purple-outline{
    position:absolute;
    z-index: 0;
    bottom:0px;
    height:200px;
    width:280px;
    left:0px;      
  }

  .orange-fill{
    position:absolute;
    bottom:0px;
    left:400px;
    height:150px;
    width:250px;
  }
  .orange-outline{
    position:absolute;
    bottom:0px;
    left:350px;
    height:200px;
    width:250px;
  }


  .right-container{
    display:flex;
    width:700px;
    z-index: 1;
    height: 85vh;
    justify-content:center;
    padding-top:70px;
  }
  .orange-fill-2{
    position:absolute;
    right:100px;
    height:140px;
    width:280px;
    top:0px;
  }
  .orange-outline-2{
    position:absolute;
    right:200px;
    top:0px;
    height:90px;
    width:300px;
  }
  .purple-fill-2{
    position:absolute;
    width:200px;
    height:200px;
    bottom:0px;
    right:0px;
  }
  .purple-outline-2{
    position:absolute;
    width:200px;
    height:250px;
    bottom:0px;
    right:0px;
  }
  .log-in-container{
    display:flex;
    flex-direction:column;
    height:82%;
    width:70%;
    background-color:rgba(0,0,0,1);
    justify-content: start;
    align-items:center;
    padding-top:60px;
    box-shadow: -10px 10px 8px rgba(0,0,0,0.4);
  }
  .main-header-container{
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .header-container{
    flex-direction:row;
    color:white;
    flex: 1;
    margin-bottom:40px;
  }
  .header-paragraph{
    font-family: Lalezar;
    font-size: 50px;
    font-weight: 400;
    text-align: left;

  }
  .input-container{
    display:flex;
    flex-direction:column;
    gap:16px;
  }
  .main-inputs{
    width: 220px;
    color:white;
    background: none;
    border: solid 1px gray;
    padding: 10px 10px;
    border-radius: 12px;
    margin-top: 10px;
  }
  .label-text{
    color:white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
  }
  .email-input-container{
   display:flex;
   margin-bottom:30px;
  }
  .text-container{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .welcome-container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    flex-shrink:0px;
    z-index: 1;
  }
  .welcome-back-text{
    display: flex;
    font-family: Inter;
    font-size: 60px;
    z-index: 1;
    margin-bottom:15px;
    font-weight: 800;
    text-align: left;
  }
  .tagline-text{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
    z-index: 1;
    letter-spacing: 0.1em;
    text-align: left;
  }
  .get-started-button{
    border-radius: 18px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 20px;
    margin-top: 40px;
   }
   .get-started-button:hover{
    color:#F0B27D;
   }
   .get-started-button:active{
    background-color: black;
    color:white;
    border: solid white 1px;
   }
   .button-text{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    text-align: left;

   }
   .arrow-image-container{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(240, 178, 125, 1);
    height:35px;
    border-radius:20px;
    padding-left:9px;
    padding-right:9px;
   }
   .arrow-image{
    height:50%;
   }
   .sign-log-text{
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    color:white;
    margin-top:10px

   }
   .sign-log-link{
    color: #F0B27D;
    text-decoration: none;
   }

   @media((min-width:1120px) and (max-width:1250px))
   {
    .tagline-text{
        font-size: 15px;
    }
  }
  @media((min-width:1000px) and (max-width:1170px))
  {
   .welcome-back-text{
       font-size: 50px;
   }
 }
 @media((min-width:1070px) and (max-width:1140px))
 {
  .tagline-text{
      font-size: 13px;
  }
}
@media((min-width:1000px) and (max-width:1100px))
{
 .welcome-back-text{
     font-size: 40px;
 }
}
@media((min-width:1050px) and (max-width:1090px))
{
 .tagline-text{
     font-size: 10px;
 }
}

  @media((min-width:0px) and (max-width:1050px)){
    .left-container{
        display: none
    }
    .log-in-container{
        z-index: 1;
 
    }
    .orange-fill-2{
        z-index: 2;
    }
    .orange-outline-2{
        z-index: 2;
    }
    .purple-fill-2{
      z-index: 0;
    }
    .purple-outline-2{
      z-index: 0  ;
    }

  }
/* 
  @media( (min-width:0px) and (max-width:700px)){
    .left-container{
      display: none;
    }
    .right-container{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .log-in-container{
      padding-bottom: 40px;
      position: relative;
      z-index: 1;
    }
    .purple-fill-2{
      z-index: 0;
    }
    .purple-outline-2{
      z-index: 0  ;
    }
    } */
